h1{
    background:yellow;
    padding: 20px;
    text-align: center;
    margin: 0;
    color:teal;
}
p{
    background-color: aqua;
    padding: 20px;
}

h3{
    padding: 20px;
    background:rgb(62, 233, 10);
}